.artcile-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.blogimage{
    width: 100%;
    height: auto;
}
.article-title{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

