.animalblogform{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.formTopic{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.blogimage{
    width:100%;
    height: auto;
}
.buttons{
    
}
