.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as per your requirement */
  }
  
  .about-us-section {
    text-align: center;
  }
  
  .about-us-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about-us-title h1 {
    font-weight: bold;
    position: relative;
  }
  
  .about-us-title h1::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 75px;
    height: 5px;
    background-color: #30ae69;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .images-container img {
    margin: 0 10px; /* Adjust the spacing between the images */
  }
  .images-container img {
    margin: 0 85px; /* Adjust the spacing between the images */
  }